:root {
  /* CSS HEX */
  --engineering-orange: #d3170dff;
  --selective-yellow: #fabc2aff;
  --slate-gray: #687784ff;
  --alice-blue: #e7f1f6ff;
  --rich-black: #001011ff;
  --cardinal-purple: #2E0219;
}