/* Squada One & Overpass */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Squada One', sans-serif;
  font-weight: 400;
  margin: 0;
  color: var(--jwst-white);
}

h3,
h4 {
  font-weight: 300;
}

p,
span {
  color: var(--jwst-white);
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  transition-duration: 300ms;
  position: relative;
}

a::before,
a::after {
  content: none;
}
